networks:
  default:

services:
  db:
    image: timescale/timescaledb:${TIMESCALE_TAG:-latest-pg17}
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: minici
      POSTGRES_USER: local
      POSTGRES_PASSWORD: local
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dev -d minici"]
      interval: 5s
      timeout: 5s
      retries: 5

  worker:
    build:
      context: .
      dockerfile: build/Dockerfile.worker-local
    image: minici/worker:local
    privileged: true
    cgroup: host
    networks:
      - default
