[Unit]
Description=minici worker
After=network.target containerd.service

[Service]
Environment="MINICI_WORKER_SOCKET_IO_URL=http://workflower:8081/socket.io/"
Environment="MINICI_WORKER_RUNTIME_SNAPSHOTTER=fuse-overlayfs"
ExecStart=/usr/local/bin/minici-worker
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
